fastapi
uvicorn
motor
pydantic
pydantic-settings
python-multipart
python-dotenv
bcrypt
email-validator
PyJWT
langchain-google-genai
langchain-groq
langchain-community
langchain
langchain-core
faiss-cpu
google-generativeai
pymongo
pdfplumber
pytesseract
pdf2image
Pillow