fastapi
uvicorn
motor
pydantic
pydantic-settings
python-multipart
python-dotenv
bcrypt
email-validator
PyJWT
langchain-google-genai
langchain-community
langchain
faiss-cpu
google-generativeai
pymongo[srv]
pdfplumber
pytesseract
pdf2image
Pillow